@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 1024px){
  /* on lg screens */
  .carousel > .thumbs-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .carousel.carousel-slider {
    margin: auto;
    width: 80%; 
    height: 60vh;
  }
  .outer-con > div{
  flex: 33%;
  }
  .footer-con > div{
    flex: 33%;
    margin-left: 20px;
  }
  .active{
  background-color: rgb(31, 30, 30);
  }
}

